<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
      <link rel="stylesheet" href="css/login_style.css">
</head>

<body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<form action=/7345SDFHSALKJDFHNASLFSDA3423423SAD22 enctype="form-data" method="POST" class="login-form"> 
				<div class="control-group">
				<input type="text" class="login-field" name="username" value="" placeholder="username" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<div class="control-group">
				<input type="password" class="login-field" value="" name="password" placeholder="password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<button class="btn btn-primary btn-large btn-block" type="submit">Login</button>
			</form>
		</div>
	</div>
</body>
</html>